html,body{
  width:100%;
  height:100%;
  margin:0px;
  overflow: hidden;
}
body{
  background-image:url('../img/bg_1.jpg');
  background-size: cover;
  color: white;
  position: relative;
}
.ui-index{
  width:80%;
  position: absolute;
  box-sizing: border-box;
  top:50%;
  left:10%;
  margin-top: -204px;
}
.ui-index h1{
  font-size: 50px;
  text-shadow: 2px 8px 2px #000;
  text-align: center;
}
.ui-index .btn{
  display:block;
  color:white;
  font-size: 20px;
  border:1px solid #9999;
  width:140px;
  background:none;
  border-radius: 6px;
  margin:0 auto 14px auto;
}
.ui-qq{
  width:80%;
  padding:14px;
  border:2px solid #ffff;
  background-color: #070808;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  left:10%;
  top:50%;
  margin-top: -160px;
}
.ui-exp h2{
  font-size: 45px;
  text-align: center;
}
.ui-set h3{
  font-size: 45px;
  text-align: center;
}
.ui-qq .btn{
  display:block;
  font-size:20px;
  border:1px solid #9999;
  width:140px;
  background:none;
  border-radius: 6px;
  color:white;
  margin:0 auto 14px auto;
}
.seting-group{
  list-style: none;
  padding-left: 5px;
}
.seting-group select{
  width:100px;
  background:#ffff;
  margin-left: 10px;
  border-radius: 0;
}
.ui-index,
.ui-set,
.ui-exp{
  display: none;
}
[data-status="index"] .ui-index{
  display: block;
}
[data-status="setting"] .ui-set{
  display: block;
}
[data-status="exp"] .ui-exp{
  display: block;
}
